:root {
  --header-height: 60px;
  --sidebar-width: 250px;
  --vp-c-accent: #3dd68c;
  --text-color: #eaeaea;
  --bg-color: #1b1b1f;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

ul {
  padding-left: 10px;
}

ul li {
  list-style: none;
}

.layout {
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: var(--sidebar-width) 1fr;
      grid-template-columns: var(--sidebar-width) 1fr;
  -ms-grid-rows: var(--header-height) 1fr;
      grid-template-rows: var(--header-height) 1fr;
      grid-template-areas: "header header" "aside main";
}

.layout__aside {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  border-right: 1px solid gray;
}

.layout__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  border-bottom: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
}

.layout__main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  height: 100%;
  max-height: calc(100vh - var(--header-height));
  overflow-y: auto;
}

.request-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 10px;
}

.request-bar__method {
  text-align: center;
  width: 60px;
  padding: 10px;
  margin: 2px;
  color: #252525;
  background: #393939;
  border-radius: 4px;
  font-weight: 600;
}

.request-bar__method--get {
  background: #6cdd9b;
}

.request-bar__method--post {
  background: #ffe47e;
}

.request-bar__method--put {
  background: #71abf0;
}

.request-bar__method--patch {
  background: #c0a8e1;
}

.request-bar__method--delete {
  background: #5dba84;
}

.request-bar__url {
  padding: 10px;
  margin: 2px;
}

.response-header {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0px;
}

.response-header th {
  padding: 10px;
  background: #35353c;
  color: #fff;
}

.response-header tr:hover {
  background: #4242421b;
}

.response-header tr td {
  padding: 10px;
  border: 1px solid #35353d;
}

pre {
  background: #2d2d2d;
  color: #ffffff;
  border-radius: 0px 4px 4px 4px;
  padding: 15px;
  max-height: 70%;
  overflow-y: auto;
  margin: 0px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.tab {
  padding: 10px 20px;
  margin-right: 5px;
  border-radius: 5px 5px 0 0;
  background-color: var(--bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab.type-1 {
  background: #222226;
  border: 1px solid #cccccc00;
}

.tab .tab-close-btn {
  color: var(--text-color);
  border: 0px;
  margin-left: 5px;
  padding: 5px;
  background: transparent;
  cursor: pointer;
}

.tab .tab-close-btn:hover {
  background: #2d2d2d;
}

.tab--active, .tab.active {
  color: #3ed68c;
  border: none;
  border-bottom: 4px solid gray;
}

.tab--active.type-1, .tab.active.type-1 {
  background-color: #2d2d2d;
  border: 0px solid transparent !important;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  background-color: var(--bg-color);
  margin-top: 10px;
}

.home-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "request response";
  grid-gap: 2rem;
  height: 100%;
  max-height: calc(100vh - var(--header-height));
}

.home-layout .home-layout__request {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: request;
  padding: 15px;
  max-height: calc(100vh - var(--header-height));
  overflow-y: auto;
}

.home-layout .home-layout__response {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: response;
  background: #222226;
  padding: 15px;
  max-height: calc(100vh - var(--header-height));
  overflow-y: auto;
}

.index-page {
  padding: 15px;
  max-width: 750px;
  margin: 10px auto;
}

.index-page__title {
  text-align: center;
}

.index-page__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-page__contents__content {
  padding: 14px;
}

.drawer {
  max-height: 80%;
  overflow-y: auto;
}

.drawer input {
  padding: 10px;
  line-height: 1.3rem;
  width: 90%;
  background-color: var(--bg-color);
  margin: 10px auto;
  display: block;
  border: 1px solid gray;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  color: var(--text-color);
}

.drawer a, .drawer span {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: .35rem 1rem .35rem 2rem;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4;
  text-decoration: none;
  color: var(--text-color);
}

.drawer a:hover {
  color: var(--vp-c-accent);
  font-weight: 600;
  border-left: 3px solid var(--vp-c-accent);
}

a.drawer__item__link--active {
  border-left-color: var(--vp-c-accent);
  color: var(--vp-c-accent);
  font-weight: 600;
  border-left: 3px solid var(--vp-c-accent);
  color: var(--vp-c-accent);
}

.env-btn {
  text-decoration: none;
  color: var(--text-color);
}

.env-btn:hover {
  color: var(--vp-c-accent);
  font-weight: 600;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex .flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.env-view {
  padding: 20px;
  position: relative;
  overflow-y: hidden;
  max-height: 500px;
}

.env-view .env-input-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding-bottom: 1rem;
}

.env-view input {
  padding: 5px 15px;
  background: var(--bg-color);
  line-height: 25px;
  border: 2px solid gray;
  color: var(--text-color);
  font-weight: 500;
}

.env-view input:focus {
  outline: 2px solid var(--vp-c-accent);
}

.env-view .save-btn, .env-view .add-env {
  border: 0px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  background: #4a4a56;
  color: var(--text-color);
  -webkit-transition: background .3s;
  transition: background .3s;
  border: 2px solid transparent;
  z-index: 1;
}

.env-view .save-btn:hover, .env-view .add-env:hover {
  background: #1b1b1f;
}

.env-view .save-btn:active, .env-view .add-env:active {
  border: 2px solid var(--vp-c-accent);
}

.env-view .env-view-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.code-view {
  position: relative;
  height: 100%;
}

.code-view__copy {
  position: absolute;
  right: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.code-view__copy:focus {
  outline: 1px solid gray;
}

.code-view__copy .tooltip {
  display: none;
  top: 15px;
  left: -50px;
  position: absolute;
}

.code-view__copy .tooltip.active {
  display: block;
}

.code-view__copy:hover .tooltip {
  display: block;
}

.tooltip {
  position: absolute;
  top: 50px;
  left: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #000;
  color: #fff;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 400;
}

@-webkit-keyframes revealInput {
  from {
    height: 0px;
  }
  to {
    height: 50px;
  }
}

@keyframes revealInput {
  from {
    height: 0px;
  }
  to {
    height: 50px;
  }
}
/*# sourceMappingURL=global.css.map */