<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/global.css">
    {{block "styles" .}}{{end}}
</head>
<body>
    <div class="layout" id="app">
      <header class="layout__header">
          <h1>{{.Title}}</h1>
      </header>
      <aside class="layout__aside">
        <ul>
          <drawer-component :item="item" v-for="(item, i) in drawerData" :key="i" />
        </ul>
        
      </aside>
      <main class="layout__main">
        {{block "content" .}}{{end}}
      </main>
    </div>
    <script src="/static/js/vue-lib.js"></script>
    {{block "scripts" .}}{{end}}
    <script src="/static/js/global.js"></script>


</body>
</html>
